.header__logo {
  align-self: flex-start;
}

@media screen and (max-width: 968px) {
  .header__logo {
    margin-left: 44px;
  }
}

@media screen and (max-width: 740px) {
  .header__logo {
    margin-left: 27px;
    max-width: 104px;
    max-height: 24px;
  }
}