.header__navlist-button {
  visibility: hidden;
  align-self: center;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.header__navlist-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .header__navlist-button {
    visibility: visible;
    margin-right: 30px;
  }
}
