.menu__usermail {
  max-width: 300px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .menu__usermail {
    visibility: hidden;
  }
}
