.header__navlist-elements {
  display: flex;
  transition: transform 0.3s linear;
}

@media screen and (max-width: 500px) {
  .header__navlist-elements {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
}
