.header__navlist-elements {
  display: flex;
}

@media screen and (max-width: 500px) {
  .header__navlist-elements {
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
}
