.mobile-menu__navbutton {
  cursor: pointer;
  visibility: hidden;
  transition: opacity 0.5s linear;
}

.mobile-menu__navbutton:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .mobile-menu__navbutton {
    margin-right: 27px;
    visibility: visible;
  }
}
