.register__submit-button {
  margin-top: 186px;
  padding: 0;
  padding: 14px 84px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.register__submit-button:hover {
  opacity: 0.8;
}
