@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/body/body.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__content/page__content.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/content/__elements/content__elements.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__items/profile__items.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile-info/profile-info.css);
@import url(./blocks/profile-info/__name/profile-info__name.css);
@import url(./blocks/profile-info/__profession/profile-info__profession.css);
@import url(./blocks/profile-info/__edit-button/profile-info__edit-button.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements-list/elements-list.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__count-likes/element__count-likes.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/element/__delete-button/_hide/element__delete-button_hide.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_is-opened/popup_is-opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__close/_type/popup__close_type_delete-card.css);
@import url(./blocks/popup/__close/_type/popup__close_type_new-avatar.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(./blocks/popup/__save/_type/popup__save_type_delete-card.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/_type/popup_type_delete-card.css);
@import url(./blocks/popup/__form/_type/popup__form_type_delete-card.css);
@import url(./blocks/popup/_type/popup_type_new-avatar.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);


